.d-flex {
  display: flex;
}

/* Navigation */
.navbar-link {
  color: #022855 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.navbar-link:hover {
  color: #046ADF !important;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.navbar-toggle-menu {
  border: none !important;
}

.header-logo {
  height: 50px;
}

.header-logo-text {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #022855;
}

.menu-icon {
  color: #046ADF;
}

/* Home */

/* Banner */
.banner-area {
  min-height: 680px;
  background-size: cover;
}

.banner-content {
  color: white;
}

.btn-banner {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  padding: 8px 16px;
  border-radius: 0 !important;
}

.btn-banner:hover {
  background: none;
  color: #046ADF;
  border-color: #046ADF;
}

.banner-content .btn-banner {
  margin-top: 25px;
}

.banner-content .banner-content-h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
}

.banner-content .banner-content-h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.02em;
}

.banner-content .banner-content-description {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
}

/* Latest Event */
.latest-event-area {
  background: #2870C3;
  padding: 70px 0px;
  color: #fff;
}

.latest-event-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.latest-event-detail {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}

.event-detail p {
  font-size: 16px;
  line-height: 19px;
}

.event-detail p svg {
  padding-right: 12px;
}

.event-timer {
  color: #fff;
  text-align: center;
}

.event-timer .timer {
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  padding: 40px 0px;
  opacity: 1;
}

.event-timer .timer .timer__section {
  float: left;
  overflow: hidden;
  color: #fff;
  width: calc(100% / 4);
}

.event-timer .timer .timer__section .timer_number {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}

.event-timer .timer .timer__section .timer_label {
  font-size: 14px;
  line-height: 22px;
  text-transform: capitalize;
}

/* Color */
.color-primary {
  color: #022855;
}

.color-secondary {
  color: #2870C3;
}