/* Navigation */
.navbar-link {
  color: #022855 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.navbar-link:hover {
  color: #046ADF !important;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.navbar-toggle-menu {
  border: none !important;
}

.header-logo {
  height: 50px;
}

.header-logo-text {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #022855;
}

.menu-icon {
  color: #046ADF;
}