/* Navigation */
.navbar-link {
  color: #022855 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.navbar-link:hover {
  color: #046ADF !important;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.navbar-toggle-menu {
  border: none !important;
}

.header-logo {
  height: 50px;
}

.header-logo-text {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #022855;
}

.menu-icon {
  color: #046ADF;
}

/* Home */
.banner-area {
  min-height: 680px;
  background-size: cover;
}

.banner-content {
  color: white;
}

.btn-banner {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  padding: 8px 16px;
  border-radius: 0 !important;
}

.btn-banner:hover {
  background: none;
  color: #046ADF;
  border-color: #046ADF;
}

.banner-content .btn-banner {
  margin-top: 25px;
}

.banner-content .banner-content-h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
}

.banner-content .banner-content-h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.02em;
}

.banner-content .banner-content-description {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
}